/* Start Global Rules */
:root {
    --p-color: #777;
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --second-border-color: #e9e6e7;
    --section-background: #ececec;
    --main-transition: 0.3s;
    --main-top-bottom-padding: 100px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "cairo", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.main-title {
    font-size: 30px;
    text-transform: uppercase;
    border: 2px solid black;
    padding: 10px 20px;
    margin: 0 auto 80px;
    width: fit-content;
    position: relative;
    z-index: 1;
}

.main-title::before,
.main-title::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

section:hover>.main-title::before {
    animation: left-bullet 0.5s linear forwards;
}

section:hover>.main-title::after {
    animation: right-bullet 0.5s linear forwards;
}

section:hover>.main-title {
    color: white;
    border: 2px solid white;
    transition: var(--main-transition);
    transition-delay: 0.5s;
}

.spikes {
    position: relative;
}

.spikes::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
    top: -100px;
    left: 0;
}

@keyframes left-bullet {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }

    100% {
        left: 0;
        width: 51%;
        height: 100%;
        border-radius: 0%;
    }
}

@keyframes right-bullet {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }

    100% {
        right: 0;
        width: 51%;
        height: 100%;
        border-radius: 0%;
    }
}

section:not(.discount) {
    padding: var(--main-top-bottom-padding) 0px;
}

.container {
    padding: 0 15px;
    margin: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */


/* Start Header */
header {
    -webkit-box-shadow: 0 0 10 #ddd;
    -moz-box-shadow: 0 0 10 #ddd;
    box-shadow: 0 0 10px #ddd;
    background-color: white;
}

header .container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 767px) {
    header .container {
        flex-direction: column;
    }

    header .container .logo {
        height: 50px !important;
    }

    header .container>ul>li>a {
        font-size: 14px !important;
        height: 40px !important;
        padding: 10px !important;
    }
}

header .container .logo {
    color: var(--main-color);
    font-size: 26px;
    height: 72px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

header .container ul {
    display: flex;
}

header .container>ul>li>a {
    display: block;
    height: 72px;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 0 30px;
    color: black;
    position: relative;
    transition: var(--main-transition);
}

header .container>ul>li>a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: var(--main-color);
    transition: var(--main-transition);
}

header .container>ul>li>a:hover::before {
    width: 100%;
}

header .container>ul>li>a:hover {
    background-color: #fafafa;
    color: var(--main-color);
}

header .container .mega-menu {
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    position: absolute;
    top: calc(100% + 50px);
    left: 0;
    z-index: -1;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    opacity: 0;
}

header .container>ul>li:last-of-type:hover .mega-menu {
    z-index: 5;
    opacity: 1;
    top: calc(100% + 1px);
    transition: var(--main-transition);
}

@media (max-width: 767px) {
    header .container .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}

header .container .mega-menu .image {
    display: flex;
    align-items: center;
}

@media (max-width: 992px) {
    header .container .mega-menu .image {
        display: none;
    }
}

header .container .mega-menu .image img {
    max-width: 100%;
}

header .container .mega-menu .links {
    flex-direction: column;
    justify-content: center;
    min-width: 250px;
    flex: 1;
}

header .container .mega-menu .links li:not(:last-of-type) {
    border-bottom: 1px solid var(--second-border-color);
}

@media (max-width: 767px) {
    header .container .mega-menu .links:first-of-type li:last-of-type {
        border-bottom: 1px solid var(--second-border-color);
    }
}

header .container .mega-menu .links li {
    position: relative;
}

header .container .mega-menu .links li::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: #fafafa;
    transition: var(--main-transition);
}

header .container .mega-menu .links li:hover::before {
    width: 100%;
}

header .container .mega-menu .links li a {
    display: flex;
    gap: 13px;
    padding: 15px;
    color: var(--main-color);
    font-weight: bold;
    font-size: 18px;

    i {
        align-self: center;
    }
}

/* End Header */


/* Start Landing */
.landing {
    position: relative;
}

.landing::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -40px;
    left: 0;
    background-color: red;
    transform: skewY(-6deg);
    transform-origin: top left;
    background-color: #ececec;
    z-index: -1;
}

.landing .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 120px;
    height: calc(100vh - 72px);
}

.landing .container .text {
    flex-basis: 1;
}

.landing .container .text h1 {
    font-size: 40px;
    margin: 0%;
    letter-spacing: -2px;
}

.landing .container .text p {
    max-width: 500px;
    line-height: 1.7;
    margin-top: 5px;
    font-size: 23px;
    color: #777;
}

.landing .container .image img {
    width: 600px;
    animation: top-down 5s linear infinite;
}

@media (max-width: 992px) {
    .landing .container .image {
        display: none;
    }

    .landing .container {
        text-align: center;
    }
}

@keyframes top-down {
    50% {
        transform: translateY(-50px);
    }
}

.landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    animation: go-down 1.5s infinite;
}

@keyframes go-down {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}

/* End Landing */


/* Start Articles */
.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.articles .container .box {
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    transition: var(--main-transition);
}

.articles .container .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.articles .container .box img {
    max-width: 100%;
}

.articles .container .box .text {
    padding: 20px;
    text-transform: capitalize;
}

.articles .container .box .text p {
    margin-top: 10px;
    line-height: 1.5;
    color: var(--p-color);
}

.articles .container .info {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--second-border-color);
    color: var(--main-color);
}

.articles .container .info a {
    font-weight: bold;
    text-transform: capitalize;
    color: inherit;
}

.articles .container .box:hover .info i {
    animation: move-right 1.5s linear infinite;
}

@keyframes move-right {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(0px);
    }

    40%,
    60% {
        transform: translateX(10px);
    }
}

/* End Articles */


/* Start Gellary */
.gallery {
    background-color: var(--section-background);
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .container .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.gallery .container .box .image {
    position: relative;
    overflow: hidden;
}

.gallery .container .box .image::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1;
    opacity: 0;
}

.gallery .container .box .image:hover::before {
    animation: flash 0.6s linear;
}

@keyframes flash {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

.gallery .container .box .image:hover img {
    transform: rotate(6deg) scale(1.1);
}

.gallery .container .box .image img {
    max-width: 100%;
    transition: var(--main-transition);
}

/* End Gellary */


/* Start Features */
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .box {
    text-align: center;
    border: 1px solid #ccc;
}

.features .box .image {
    position: relative;
    overflow: hidden;
}

.features .box .image::before,
.features .box .image::after {
    content: '';
    position: absolute;
    z-index: 1;
}

.features .box .image::after {
    width: 0;
    height: 0;
    border-width: 0px 0px 170px 500px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    bottom: 0;
    right: 0;
    transition: var(--main-transition);
}

.features .box:hover .image::after {
    border-width: 170px 500px 170px 0px;
    border-color: transparent transparent white transparent;


}

.features .box .image::before {
    width: 100%;
    height: 100%;
    inset: 0;
}

.features .box .image img {
    max-width: 100%;
}

.features .box h2 {
    font-size: 40px;
    width: fit-content;
    position: relative;
    margin: auto;
}

.features .box h2::after {
    content: '';
    position: absolute;
    width: calc(100% - 30px);
    height: 5px;
    left: 15px;
    bottom: -20px;
}

.features .quality .image::before {
    background-color: rgb(0, 150, 136, 0.6);
}

.features .quality img::before {
    background-color: #009688;
}

.features .quality h2::after {
    background-color: #009688;
}

.features .quality a {
    color: #009688;
    border-color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
}

.features .time .image::before {
    background-color: rgb(244, 64, 54, 0.6);
}

.features .time h2::after {
    background-color: #f44036;
}

.features .time a {
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
}

.features .passion .image::before {
    background-color: rgb(3, 169, 244, 0.6);
}

.features .passion h2::after {
    background-color: #03a9f4;
}

.features .passion a {
    color: #03a9f4;
    border-color: #03a9f4;
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
}

.features .box p {
    margin: 30px 0;
    line-height: 2;
    font-size: 20px;
    padding: 25px;
    color: var(--p-color);
}

.features .box a {
    display: block;
    width: fit-content;
    margin: 0 auto 30px;
    padding: 10px 30px;
    font-size: 22px;
    font-weight: bold;
    border-width: 3px;
    border-style: solid;
    border-radius: 6px;
    background-size: 200% 100%;
    background-position: right bottom;
    transition: var(--main-transition);
}

.features .box:hover a {
    background-position: left bottom;
    color: white;
}

/* End Features */


/* Start Testimonials */
.testimonials {
    background-color: var(--section-background);
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.testimonials .box {
    padding: 20px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
    text-transform: capitalize;
}

.testimonials .box img {
    position: absolute;
    width: 100px;
    border-radius: 50%;
    top: -50px;
    right: -10px;
    border: 10px solid var(--section-background);
}

.testimonials .box h3 {
    margin-bottom: 10px;
}

.testimonials .box span {
    display: block;
    color: var(--p-color);
    margin-bottom: 10px;
}

.testimonials .box .rate i.filled {
    color: #ffc107;
}

.testimonials .box p {
    margin-top: 10px;
    color: var(--p-color);
    line-height: 1.5;
}

/* End Testimonials */


/* Start Team */
.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.team .container .box {
    padding-top: 60px;
    position: relative;
}

@media (max-width: 767px) {
    .team .container .box {
        padding: 20px 0 0 20px;
    }
}

.team .container .box::before,
.team .container .box::after {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #f3f3f3;
    border-radius: 10px;
}

.team .container .box::before {
    width: calc(100% - 60px);
    z-index: -2;
}

.team .container .box::after {
    width: 0;
    z-index: -1;
    background-color: #e4e4e4;
    transition: var(--main-transition);
}

.team .container .box:hover::after {
    width: calc(100% - 60px);
}

@media (max-width: 767px) {
    .team .container .box::before {
        width: 100%;
    }

    .team .container .box:hover::after {
        width: 100%;
    }
}

.team .container .box .data {
    display: flex;
    align-items: center;
}

.team .container .box .data img {
    max-width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--main-transition);
}

.team .container .box:hover .data img {
    filter: grayscale(100%);
}

.team .container .box .data .social {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    a {
        color: var(--p-color);
        width: 60px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: var(--main-transition);
    }

    a:hover {
        color: var(--main-color);
    }
}

.team .container .box .info {
    padding-left: 80px;
    text-transform: capitalize;

    h2 {
        font-size: 22px;
        color: var(--main-color);
        margin-top: 22px;
    }

    p {
        margin: 10px 0 25px;
    }
}

@media (max-width: 767px) {
    .team .container .box .info {
        padding-left: 0px;
    }
}

/* End Team */


/* Start Services */
.services {
    background-color: var(--section-background);
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.services .container .box {
    background-color: white;
    text-transform: capitalize;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    counter-increment: service;
    text-align: center;
    position: relative;
    transition: var(--main-transition);
}

.services .container .box:hover {
    transform: translateY(-10px);
}

.services .container .box::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    top: -3px;
    left: 50%;
    background-color: var(--main-color);
    transition: var(--main-transition);
}

.services .container .box:hover::before {
    width: 100%;
    left: 0;
}

.services .container .box i {
    display: block;
    margin: 30px 0 20px;
    color: #d5d5d5;
}

.services .container .box h3 {
    margin: 20px 0 40px;
    font-size: 25px;
    color: var(--main-color);
}

.services .container .box .info {
    background-color: #f9f9f9;
    position: relative;
    text-align: right;
    padding: 15px;
}

.services .container .box .info::before {
    content: '0' counter(service);
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    font-size: 30px;
    padding-right: 15px;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color: white;
}

.services .container .box .info::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 100%;
    transform: skewX(-30deg);
    background-color: #d5d5d5;
    top: 0;
    left: 80px;
}

.services .container .box .info a {
    color: var(--main-color);
    text-transform: uppercase;
}

/* End Services */


/* Start Skills */
.our-skills .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 991px) {
    .our-skills img {
        display: none;
    }
}

.our-skills .skills {
    flex-grow: 1;
    text-transform: uppercase;
}

.our-skills .skills h3 {
    margin: 19px 0;
}

.our-skills .skills .prog {
    height: 30px;
    background-color: #eee;
    position: relative;
    overflow: hidden;
    transition-delay: 1.5s;
}

.our-skills:hover .skills .prog {
    animation: show-progress 0.3s linear 1.3s forwards;
}

@keyframes show-progress {
    100% {
        overflow: visible;
    }
}

.our-skills .skills .prog span {
    display: block;
    height: 100%;
    background-color: var(--main-color);
    position: relative;
    left: -100%;
    transition: 1.3s;
}

.our-skills:hover .skills .prog span {
    left: 0;
}

.our-skills .skills .prog span::after {
    content: attr(data-prog);
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 3px 4px;
    border-radius: 4px;
    color: var(--main-color);
    right: 0;
    transform: translateX(50%) scale(0);
    top: -32px;
    transition: var(--main-transition);
}

.our-skills:hover .skills .prog span::after {
    transition-delay: 1.4s;
    transform: translateX(50%) scale(1);
}

/* End Skills */


/* Start Work Steps */
.work-steps {
    background-color: var(--section-background);
}

.work-steps .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

@media (max-width: 992px) {
    .work-steps .container {
        flex-direction: column;
        gap: 50px;
    }
}

.work-steps img {
    max-width: 100%;
}

.work-steps .info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.work-steps .info .box {
    padding: 30px;
    background-color: #f6f5f5;
    border: 2px solid white;
    position: relative;
    border-radius: 6px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    gap: 30px;
    z-index: 1;
}

@media (max-width: 767px) {
    .work-steps .info .box {
        flex-direction: column;
        text-align: center;
    }
}

.work-steps .info .box::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #ededed;
    transform: scale(0);
    transition: var(--main-transition);
    z-index: -1;
}

.work-steps .info .box:hover::before {
    transform: scale(1);
}

.work-steps .info .box img {
    width: 64px;
}

.work-steps .info .box .text h3 {
    font-size: 22px;
}

.work-steps .info .box .text p {
    font-size: 18px;
    line-height: 1.7;
    margin-top: 10px;
    color: var(--p-color);
}

/* End Work Steps */


/* Start Events */
.events .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.events img {
    max-width: 450px;
}

@media (max-width: 992px) {
    .events img {
        display: none;
    }
}

.events .info {
    flex: 1;
    text-align: center;
    text-transform: capitalize;
}

.events .info .time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.events .info .time .unit {
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    transition: var(--main-transition);
}

.events .info .time .unit:hover {
    border: 1px solid var(--main-color);
}

.events .info .time .unit span {
    display: block;
}

.events .info .time .unit span:first-child {
    font-size: 35px;
    padding: 15px;
    color: var(--main-color);
    font-weight: bold;
}

.events .info .time .unit span:last-child {
    font-size: 13px;
    padding: 8px 10px;
    border-top: 1px solid #d4d4d4;
    transition: var(--main-transition);
}

.events .info .time .unit:hover span:last-child {
    border-top: 1px solid var(--main-color);
}

.events .info>h2 {
    font-size: 30px;
    margin-top: 40px;
}

.events .info>p {
    line-height: 1.7;
    font-size: 19px;
    color: var(--p-color);
    margin: 19px 0px;
}

.events .subscribe {
    width: 100%;
}

.events .subscribe form {
    width: 600px;
    margin: auto;
    display: flex;
    gap: 20px;
    padding: 30px 40px;
    margin-top: 50px;
    background-color: #f6f5f5;
    border-radius: 50px;
}

.events .subscribe form input[type='email'] {
    flex: 1;
    padding: 20px;
    caret-color: var(--main-color);
    border: none;
    border-radius: inherit;
}

.events .subscribe form input[type='email']:focus {
    outline: none;
}

.events .subscribe form input[type='email']::placeholder {
    transition: var(--main-transition);
}

.events .subscribe form input[type='email']:focus::placeholder {
    opacity: 0;
}

@media (max-width: 767px) {
    .events .subscribe form {
        max-width: 100%;
        padding: 20px;
        flex-direction: column;
        border-radius: 0;
    }

    .events .subscribe form input[type='email'] {
        padding: 20px;
    }

    .events .subscribe form input[type='submit'] {
        border-radius: 0 !important;
    }
}

.events .subscribe form input[type='submit'] {
    background-color: var(--main-color);
    transition: var(--main-transition);
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    padding: 20px;
    border: none;
}

.events .subscribe form input[type='submit']:hover {
    background-color: var(--main-color-alt);
}

/* End Events */



/* Start Pricing */
.pricing {
    background-color: var(--section-background);
}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.pricing .container .box {
    box-shadow: 0 12px 20px 0 rgb(0, 0, 0, 0.13), 0 2px 4px 0px rgb(0, 0, 0, 0.12);
    text-transform: capitalize;
    background-color: white;
    text-align: center;
    position: relative;
    padding: 30px 0px 40px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

@media (min-width: 1200px) {
    .pricing .box.popular {
        transform: translateY(-20px);
    }
}

.pricing .container .popular .label {
    position: absolute;
    width: 40px;
    background-color: var(--main-color);
    writing-mode: vertical-rl;
    color: white;
    top: 0px;
    right: 20px;
    font-size: 18px;
    padding: 10px 10px 35px 10px;
}

.pricing .container .popular .label::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.pricing .container .box::before,
.pricing .container .box::after {
    content: '';
    position: absolute;
    background-color: #f6f6f6;
    width: 0%;
    transition: var(--main-transition);
    z-index: -1;
}

.pricing .container .box:hover::before,
.pricing .container .box:hover::after {
    width: 100%;
}

.pricing .container .box::before {
    top: 0;
    left: 0;
    height: 51.5%;
}

.pricing .container .box::after {
    bottom: 0;
    right: 0;
    height: 48.5%;
}

.pricing .container .box h2.title {
    font-size: 25px;
}

.pricing .container .box img {
    width: 80px;
}

.pricing .container .box .price span:first-child {
    font-size: 60px;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 5px;
    display: block;
}

.pricing .container .box .price span:last-child {
    color: var(--p-color);
}

.pricing .container .box ul {
    width: 100%;
    text-align: left;
}

.pricing .container .box li {
    padding: 20px;
    border-top: 1px solid #eee;
}

.pricing .container .box li::before {
    content: '\f00c';
    font-family: 'Font Awesome 5 Free';
    color: var(--main-color);
    margin-right: 10px;
    font-weight: bold;
}

.pricing .container .box a {
    display: block;
    padding: 15px 20px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    font-weight: bold;
    border-radius: 6px;
    transition: var(--main-transition);
}

.pricing .container .box a:hover {
    background-color: var(--main-color);
    color: white;
}

/* End Pricing */


/* Start Videos */
.videos .holder {
    background-color: var(--section-background);
    border: 1px solid #ddd;
    display: flex;
    text-transform: capitalize;
}

@media (max-width: 992px) {
    .videos .holder {
        flex-direction: column;
    }
}

.videos .holder .list {
    min-width: 300px;
    background-color: white;
}

.videos .holder .list>h2 {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 20px;
    background-color: #f4f4f4;
}

.videos .holder .list>ul>li {
    padding: 20px;
    cursor: pointer;
    transition: var(--main-transition);
    border-top: 1px solid var(--section-background);
}

.videos .holder .list>ul>li:hover {
    background-color: #fafafa;
    color: var(--main-color);
}

.videos .holder .list>ul>li span {
    display: block;
    margin-top: 10px;
    color: var(--p-color);
}

.videos .preview {
    padding: 10px;
    display: flex;
    background-color: #e2e2e2;
    flex-direction: column;
    justify-content: space-between;
}

.videos .preview img {
    max-width: 100%;
}

.videos .preview .info {
    padding: 20px;
    background-color: white;
    font-size: 16px;
    margin-top: 10px;
    font-weight: normal;
}

/* End Videos */


/* Start Stats */
.stats {
    background-image: url(../img/stats.jpg);
    text-align: center;
    position: relative;
}

.stats::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: rgb(255, 255, 255, 0.95);
}

.stats .container,
.stats>h2.title {
    position: relative;
    text-transform: capitalize;
    z-index: 1;
}

.stats>h2.title {
    font-size: 40px;
    margin-bottom: 50px;
}

.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.stats .container .box {
    background-color: white;
    padding: 30px 15px;
    opacity: 0.8;
    position: relative;
    transition: var(--main-transition);
}

.stats .container .box:hover {
    opacity: 1;
}

.stats .container .box::before,
.stats .container .box::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 0px;
    background-color: var(--main-color);
    transition: 1s;
}

.stats .container .box::before {
    bottom: 0;
    left: 0;
}

.stats .container .box::after {
    top: 0;
    right: 0;
}

.stats .container .box:hover::before,
.stats .container .box:hover::after {
    height: 100%;
}

.stats .container .box span {
    display: block;
    font-weight: bold;
}

.stats .container .box .counter {
    height: 58px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0px;
    overflow: hidden;
    position: relative;
}

.stats .container .box .counter::before,
.stats .container .box .counter::after {
    content: '';
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stats .container .box .counter::before {
    width: 50%;
    border: 10px solid white;
    border-top: none;
    border-bottom: none;
    z-index: 2;
}

.stats .container .box .counter::after {
    width: calc(50% + 18px);
    border-left: none;
    border-right: none;
    box-shadow: 0 0 5px 0 black inset;
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
}

.stats:hover .container .box .counter::after {
    animation: scrolling 2s linear alternate;
}

@keyframes scrolling {
    30% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }
}

.stats .container .box:first-of-type .counter span {
    transition: 1.5s;
    transition-timing-function: cubic-bezier(1, 0, 0.01, 1);
}

.stats .container .box:nth-of-type(2) .counter span {
    transition: 1.2s;
    transition-timing-function: cubic-bezier(1, 0, 0.01, 1);
}

.stats .container .box:nth-of-type(3) .counter span {
    transition: 1s;
    transition-timing-function: cubic-bezier(1, 0, 0.01, 1);
}

.stats .container .box:last-of-type .counter span {
    transition: 1.7s;
    transition-timing-function: cubic-bezier(1, 0, 0.01, 1);
}

.stats .container .box .counter span {
    font-size: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.stats:hover .container .box .counter span {
    transform: translate(-50%, calc(100% - 58px));
}

.stats .container .box>span {
    font-size: 20px;
    font-style: italic;
    color: var(--main-color);
}

/* End Stats */


/* Start Discount */
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    text-transform: capitalize;
}

@media (max-width: 992px) {
    .discount {
        flex-direction: column;
    }

    .discount .image,
    .discount .form {
        padding: 35px 0;
    }
}

.discount .image,
.discount .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

.discount .image {
    background-image: url(../img/discount-background1.jpg);
    background-size: cover;
    position: relative;
    color: white;
    z-index: 1;
    animation: change-background 5s linear infinite;
}

@keyframes change-background {
    50% {
        background-image: url(../img/discount-background2.jpg);
    }
}

.discount .image::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    z-index: -1;
}

.discount .content {
    text-align: center;
    padding: 0 20px;
}

.discount h2 {
    font-size: 40px;
    letter-spacing: -1px;
    margin-bottom: 30px;
}

.discount .image p {
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
    margin-bottom: 18px;
}

.discount .image img {
    width: 300px;
    max-width: 100%;
}

.discount .form .content {
    max-width: 360px;
}

.discount .form form input,
.discount .form form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
}

.discount .form form textarea {
    resize: none;
    height: 200px;
}

.discount .form form input:focus,
.discount .form form textarea:focus {
    outline: none;
}

.discount .form form input[type='submit'] {
    padding: 15px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: var(--main-transition);
    background-color: var(--main-color);
    margin-bottom: 0;
}

.discount .form form input[type='submit']:hover {
    background-color: var(--main-color-alt);
}

/* End Discount */


/* Start Footer */
footer {
    padding-top: 70px;
    background-color: #191919;
}

@media (max-width: 767px) {
    footer {
        text-align: center;
    }
}

footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

footer .box:first-of-type h2 {
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
}

footer .box:first-of-type ul {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

@media (max-width: 767px) {
    footer .box:first-of-type ul {
        justify-content: center;
    }
}

footer .box:first-of-type ul li a {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #b9b9b9;
    transition: var(--main-transition);
}

footer .box:first-of-type ul li:first-of-type a:hover {
    background-color: #1877f2;
}
footer .box:first-of-type ul li:nth-of-type(2) a:hover {
    background-color: #1da1f2;
}
footer .box:first-of-type ul li:last-of-type a:hover {
    background-color: #ff0000;
}

footer .box:first-of-type p {
    color: #b9b9b9;
    margin: 16px 0;
    line-height: 2;
}

footer> p {
    color: white;
    margin-top: 50px;
    padding: 25px;
    text-align: center;
    border-top: 1px solid #444;
}

footer .box:nth-of-type(2) .links li {
    padding: 15px 0px;
    transition: var(--main-transition);
}

footer .box:nth-of-type(2) .links li:hover {
    padding-left: 10px;
    a {
        color: white;
    }
}

footer .box:nth-of-type(2) .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}

footer .box:nth-of-type(2) .links li a {
    color: #b9b9b9;
    transition: var(--main-transition);
}

footer .box:nth-of-type(2) .links li a::before {
    content: '\F101';
    font-family: 'Font Awesome 5 Free';
    color: var(--main-color);
    font-weight: bold;
    margin-right: 10px;
}

footer .box:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer .box:nth-of-type(3) .line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #b9b9b9;
    gap: 10px;
}

@media (max-width: 767px) {
    footer .box:nth-of-type(3) .line {
        flex-direction: column;
        gap: 15px;
    }
}

footer .box:nth-of-type(3) .line i {
    font-size: 25px;
    color: var(--main-color);
}

footer .box:nth-of-type(3) .line p {
    line-height: 1.7;
}

footer .box:nth-of-type(3) .line span {
    display: block;
}

footer .box:last-of-type img {
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}

/* End Footer */